main {
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
}

div {
  background-color: lightgray;
  outline: 1px solid darkgray;
  text-align: center;
  color: darkslategrey;
  position: relative;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    background-color: blue;
  }
}
