@media screen and (min-width: 768px) and (max-width: 960px){

  div:first-child {
    width: 960px;
    height: 100px;
    background-color: olive;
  }
  
  div:nth-child(2) {
    width: 200px;
    height: 600px;
  }
  
  div:nth-child(3), div:nth-child(4) {
    width: 380px;
    height: 200px;
  }
  
  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
    width: 190px;
    height: 250px;
  }
  
  div:last-child {
    width: 760px;
    height: 150px;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px){
  div:first-child {
    width: 480px;
    height: 75px;
  }

  div:nth-child(2) {
    width: 480px;
    height: 150px;
  }

  div:nth-child(3), div:nth-child(4) {
    width: 480px;
    height: 125px;
  }

  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) {
    width: 240px;
    height: 250px;
  }

  div:last-child {
    width: 480px;
    height: 80px;
  }
}

